/*===========================================
General Styles
=============================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    outline: none;
}

html{
  /*position: relative;*/
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100vh;
  margin: 0 auto; /*all our rows will be centered*/
  font-family: 'Roboto', sans-serif;
}
.container {
  margin: 0 auto;
   text-align: center;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

/*.icon-medium{
  font-size: 185%;
  display: inline-block;
  color: #e67e22;
}*/
/*===========================================
Headers
=============================================*/

h1 {
 font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
 font-size: 240%; 
 font-weight: 300;
}

h1 span{
  font-family: Impact; 
}


/*===========================================
SEARCH RESULT TILES
=============================================*/
.tiles{
  color: white;
}

.tiles:nth-child(odd) {
  background-color: red;
}

.tiles:nth-child(even) {
  background-color: blue;
}

.tiles h2 {
  text-decoration: underline;
}

.tiles p{

}